<div class="center">
  <%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
  <%= f.text_field :edited_item, placeholder: "Edit Todo", class: "hev" %>
    <%= f.submit class: "btn" %>
  <% end %>
</div>

