<div class="row-fluid">
<% @todo_lists.each do |todo_list| %>
  <div class="list_index center">
    <h2 class="tdl_title"><%= link_to todo_list.title, todo_list %></h2>
    <p class="tdl_sub_title"><%= todo_list.description %></p>
  </div>
<% end %>

<div class="tdl_links center">
  <%= link_to 'New Todo list', new_todo_list_path %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</div>
</div>