@import 'bootstrap';

.center {
  text-align: center;
}

.td-auth {
  text-align: center;
  align-items: center;
}

.well {
  background: #fff; 
}

.panel-form {
  padding: 10px 10px 10px 10px;

}

.actions {
  width: 40%;
}